@tailwind base;
@tailwind components;
@tailwind utilities;

.product-modal .ant-modal-content {
  padding-top: 12px;
  padding-left: 0px;
  padding-right: 0px;
}

.variant-select-input .ant-select-selector {
  border-radius: 30px;
}
